<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math Barrage</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/style.css" />
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"
      integrity="sha512-skuhu6jj+sQnhLq1Txsack8VfnIrX8wL+MTFilYlFFT/NuLJm7eya7zOROs39Jy5cjASMEWqxLzijRVmKhsqWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer src="client.js"></script>
  </head>
  <body>
    <div class="leaderboard">
      <h1 class="bigTitle">Leaderboard</h1>
      <div class="table">
        <div class="tableRow">
          <div class="tableItem tableHeading">Score</div>
          <div class="tableItem tableHeading">User</div>
          <div class="tableItem tableHeading">Session</div>
        </div>
        {%if data[0] %}
        {% for item in data %}
        <div class="tableRow">
          <div class="tableItem itemScore">{{ item.score }}</div>
          <div class="tableItem itemUser">{{ item.user }}</div>
          <div class="tableItem itemSession">{{ item.session }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="tableRow">
          <div class="tableItem itemScore">999</div>
          <div class="tableItem itemUser">DummyName</div>
          <div class="tableItem itemSession">123dummysession</div>
        </div>
        {% endif %}
      </div>
      <br>
      <p>To-Do: sort rows by score</p>
    </div>
  </body>
</html>