<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math Barrage Leaderboard</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="leaderboard">
      <h1 class="bigTitle">Leaderboard</h1>
      <p>These are the best scores since the server started on {{ startTime }}</p>
      <div class="table">
        <div class="tableRow">
          <div class="tableItem tableHeading">Score</div>
          <div class="tableItem tableHeading">User</div>
          <div class="tableItem tableHeading">Session</div>
        </div>
        {% if scores[0] %}
        {% for item in scores %}
        <div class="tableRow">
          <div class="tableItem itemScore">{{ item.score }}</div>
          <div class="tableItem itemUser">{{ item.user }}</div>
          <div class="tableItem itemSession">{{ item.session }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="tableRow">
          <div class="tableItem itemScore">999</div>
          <div class="tableItem itemUser">DummyName</div>
          <div class="tableItem itemSession">123dummysession</div>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>